@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: "Noto Naskh Arabic", sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
    @media screen and (max-width: 1200px) {
        padding: 20px;
    }
}

.card {
    @apply border p-6 border-b-0;

    &:last-child {
        @apply border-b;
    }
}
